body{
    font-family: Montserrat, sans-serif;
    background-color: rgb(113, 93, 93);
    margin: 0;
    padding:50px;
}

form{
    background-color: #fefefe;
    border: 1px solid #aea9a9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;


}

input,
textarea,
select{
    background-color: #dfdfdf;
    width:  100%;
    padding: 10px;
    border: 1px solid #807a7a;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
input[type="radio"],
input[type="checkbox"]{
    width: auto;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 300px;
    background-color: rgb(255, 173, 173);
    margin-top: 10px;
}

input::focus,
textarea::focus,
select::focus{
    background-color: #807a7a;
}

input::placeholder,
textarea::placeholder{
    color: #a9a9a9;
    font-style: italic;
    opacity: 1;
}

.obj{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.map{
    margin-right: 20px;
    border-radius: 10px;
}
.video{
    border-radius: 10px;
}

.required-star {
    color: red; 
    font-weight: bold; 
    margin-left: 5px; 
}