* {
  /* все элементы страницы */
  margin: 0; /*внешние отступы*/
  padding: 0; /*внутренние отступы*/
  box-sizing: border-box; /* padding, border вкл в ширину элемента*/
}

.banner {
  display: none;
}

.zagolovok {
  position: relative; /*POSITION ЗАГОЛОВКА*/
}

.absolute-badge {
  position: absolute;
  padding: 5px 15 px;
  border-radius: 10px;
  font-weight: 700;
}

.burger-meny {
  display: block;
}
link,
meta,
title,
style,
script {
  margin: initial;
  padding: initial;
  box-sizing: initial;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
  color: #181818;
  line-height: 1.6;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Syncopate", sans-serif;
  color: #181818;
  margin-bottom: 1rem; /*отступ снизу*/
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin: 20px 0;
}

h3 {
  font-size: 1.4em;
  margin: 15px 0;
}

.header {
  background: #47484a;
  color: white;
  padding: 20px 0; /*внутренний отступотступ сверху-снизу, слева-справа*/
  position: relative; /*не остается при прокруте  POSITION ДЛЯ МЕНЮ САЙТА*/
  top: 0; /*верх страницы */
}

.header-container {
  /*контейнер для выравнивания*/
  width: 80%; /*ширина контента*/
  margin: 0 auto; /*внешний отступ. авто отступы слева и справа */
  display: flex; /* Превращаем список в гибкий контейнер, элементы располаг горизонтально */
  justify-content: space-between;
  align-items: center;
}

span {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  color: #181818;
}

.nav-list {
  /*навигационное меню*/
  display: flex; /*горизонтальный список*/
  list-style: none; /*убираем точки у списка, пункт 3*/
  text-decoration: none; /*убираем подчеркивание ссылок, пункт 3*/
}

.nav-list a {
  /*ссылки в меню*/
  color: white;
  text-decoration: none; /*подчеркивание*/
  padding: 10px 15px; /*внутренние отступы*/
  border: 1px solid transparent; /*невидимая граница для резервирования места*/
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-list a:hover {
  /*при наведении на ссылку*/
  background-color: #a1a1a1;
}
.nav-list a:active {
  /*при зажатии на ссылку*/
  background-color: #797979;
}

.nav-list a:visited {
  color: #d9d9d9;
}

.main {
  width: 80%;
  margin-left: auto; /* автоматические отступы слева */
  margin-right: auto; /* и справа - это центрирует блок */
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #dedddd;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

article {
  margin: 15px 0;
  padding: 15px;
  background-color: #e4e4e4;
  border-radius: 5px;
}

.collection-image {
  float: left;
  margin: 10px 50px 15px 5px;
  padding: 5px;
  border-radius: 10px;
}

.sidebar {
  position: sticky;
  top: 20px; /*отступ сверху когда прилипнет*/
  width: 300px;
  background-color: #d9d9d9;
  padding: 15px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  margin: 20px 0;
  float: right;
}

.sidebar {
  border-bottom: 2px solid #797979;
  padding-bottom: 10px;
}

.philosophy dt,
.philosophy dd {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

img {
  margin: 10px 0;
}

blockquote {
  font-style: italic;
  padding-left: 20px;
  margin: 20px 0;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
}

ol,
ul {
  margin: 15px 0 15px 30px;
}
li {
  margin: 8px 0;
}

pre {
  padding: 15px;
  margin: 15px 0;
}
p {
  padding: 15px;
  margin: 15px 0;
}
.philosophy dt {
  margin-top: 25px;
}
a {
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px; /*от нижнего края*/
  right: 30px; /*от правого края*/
  display: flex; /*выравнивание содержимого*/
  align-items: center; /*центрирование по горизонтали*/
  justify-content: center; /*центрирование по вертикали*/
  width: 50px;
  height: 50px;
  background: #7d7d7d;
  color: white;
  border-radius: 50%;
  font-size: 25px;
  z-index: 999;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.gallery-item {
  max-width: calc(33.333% - 15px);
  max-height: calc(50% - 15px);
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex: 1 1 calc(33.333% - 15px);
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  transition: all 0.5s ease;
  isolation: isolate;
}

.gallery-item::before{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(45deg, rgba(145, 135, 210, 0.118) 0%, rgba(126, 94, 242, 0.2) 100%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
}

.gallery-content{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 50%, 
    transparent 100% /* Полная прозрачность сверху */);
    color: white;
    transform:translateY(100%);
    z-index: 3;
    transition: all 0.5s ease;
}

.gallery-content h3{
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  margin: 0px 15px;
  color: white;
  transform: translateY(20px);
  transition: all 0.4s ease 0.1s;
  opacity: 0;

}
.gallery-content p{
 font-size: 0.95em;
 margin: 5px 15px 15px;
 opacity: 0;
 transform: translateY(20px);
 transition: all 0.4s ease 0.2s;
}

.gallery-item img {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  line-height: 0;
}

.gallery-item:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.gallery-item:hover .gallery-content {
  transform: translateY(0); /* Возвращаем на место (показываем) */
}
.gallery-item:hover .gallery-content h3,
.gallery-item:hover .gallery-content p{
  opacity: 1;       
  transform: translateY(0); 
}
.gallery-item:hover::before{
  opacity: 1;
    background: linear-gradient(
    45deg, 
    rgba(145, 135, 210, 0.3) 0%, 
    rgba(126, 94, 242, 0.4) 100%
  );
}

.footer {
  background-color: #181818;
  color: white;
  padding: 30px 0;
  margin-top: 30px;
  z-index: 1001;
  position: relative;
  text-align: center;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
}

address {
  font-style: normal;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

.burger-menu {
  display: none;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.button{
  text-decoration: none;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding:0px;
  text-align: center;
  line-height: 60px;
  border: none;
  cursor: pointer;
  box-shadow: 
    2px 2px 25px 0 rgba(0, 0, 0, 0.1),
    inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

#btn1{
  background-color: #a680be;
  background: linear-gradient(25deg, #a680be 0%, #82579d 100%);
  color: white;
}

#btn1:hover{
  background-color: #e4c8f5;
  background: linear-gradient(25deg, #c6aed4 0%, #9f82b1 100%);
}

#btn2{
  background-color: #9187d2;
  background: linear-gradient(25deg, #9187d2 0%, #7968e8 100%);
  overflow: hidden;
  position: relative;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#btn2:before,
#btn2:after{
  position:absolute; /* не влияет на поток */
  content: ""; /* Обязательно для псевдоэлементов */
  right: 0; /*правый верхний край*/
  top: 0;
  background-color: #9187d2;
  transition: all 0.3s ease;
}

#btn2:before{
  height: 0%; /*невидима*/

  width: 2px;
}
#btn2:after{
  width: 0%; /*невидима*/
  height: 2px;
}

#btn2:hover{
  background: transparent;
  box-shadow: none;
}

#btn2:hover:before{
  height: 100%; 
}
#btn2:hover:after{
  width: 100%; 
}
#btn2:hover span{
  color: #9187d2;
}
#btn2 span{
  position: relative;
  width: 100%;
  display: block;
  color: white;
  height: 100%;
}
#btn2 span:before,
#btn2 span:after{
  position:absolute; /* не влияет на поток */
  content: ""; /* Обязательно для псевдоэлементов */
  left: 0; /*правый верхний край*/
  bottom: 0;
  background-color: #9187d2;
  transition: all 0.3s ease;
}

#btn2 span:before{
  height: 0%; /*невидима*/

  width: 2px;
}
#btn2 span:after{
  width: 0%; /*невидима*/
  height: 2px;
}

#btn2:hover span:before{
  height: 100%; 
}
#btn2:hover span:after{
  width: 100%; 
}

#btn3{
  background-color: #a2cbe6;
  background: radial-gradient(circle, #a2cbe6 0%, #639dc3 100%);
  color: white;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

#btn3 span{
  position: relative;
  width: 100%;
  display: block;
  color: white;
  height: 100%;
}

#btn3:before,
#btn3:after{
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: 
  -1px -1px 20px 0px rgba(255, 255, 255, 1),
  -4px -4px 5px 0px rgba(255, 255, 255, 1),
  7px 7px 20px 0px rgba(0, 0, 0, .4),
  4px 4px 5px 0px rgba(0,0,0,.3);
}

#btn3:before{
  right: 0;
  top:0;
  transition: all 500ms ease
}
#btn3:after{
  left:0;
  bottom: 0;
  transition: all 500ms ease;
}

#btn3:hover{
  background: transparent;
  color:#a2cbe6;
  box-shadow: none;
}
#btn3:hover:before{
  transition: all 500ms ease;
  height: 100%;
}
#btn3:hover:after{
  transition: all 500ms ease;
  height: 100%;
}
#btn3 span::before,
#btn3 span:after{
  position: absolute;
  content: "";
  box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}

#btn3 span:before{
  left: 0;
  top:0;
  width: 0;
  height: .5px;
  transition: all 500ms ease;
}
#btn3 span:after{
  right: 0;
  bottom: 0;
  width: 0;
  height: .5px;
  transition: all 500ms ease;
}
#btn3 span:hover:before{
  width: 100%;
}
#btn3 span:hover:after{
  width: 100%;
}

#btn4{
  background-color: #e488b6;
  background: linear-gradient(30deg, #ec8ebd 0%, #e260a1 100%);
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#btn4 span{
  position:relative;
  color: white;
}
#btn4:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  background-color: #ffa1d0;
  background: linear-gradient(30deg, #ffa1d0 0%, #ff83c1 100%);
  transition: all 0.3s ease;
  box-shadow: 
  -7px -7px 30px 0px rgba(255, 255, 255, 0.563),
  7px 7px 30px 0px rgba(0, 0, 0, 0.227);
}
#btn4:hover{
  color:white;
}
#btn4:hover:after{
  top:0;
  height: 100%;
}
#btn4:active{
  top:2px;
}

.notifications{
  position: absolute;
  top: 120px;
  left: 30px;
  z-index: 1000;
}

.notification-item .notif-text,
.notification-item .notif-number{
  font-weight: 400;
  font-size: 18px;
}
.notification-bell{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #47484a;
  border-radius: 100px;
  transition: all 0.3s ease;
  animation-name: none;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.notification-dot{
  position: absolute;
  top:0;
  right:0;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  background: #db2424;
  animation-name: none;
  animation-direction: alternate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.notification-bell:hover{
  background: #7c7d7e;
}
.notification-bell:hover .notification-dot{
  background: #ec5b5b;
}

@keyframes bellToSquare{
  0%{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding: 0;
    background-color: #7c7d7e;
  }
  50%{
    width: 200px;
    height: 120px;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #cdcdcd;
  }
  100%{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-color: #dad9d9;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
  }
}

@keyframes hide{
  from{
    transform: scale(1);
    opacity: 1;
  }
  to{
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes showList{
  from{
    opacity: 0;
    transform: translateY(-10px); /*сдвинут вверх*/
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.bell-icon{
  animation-name: none;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  
}

.notification-item:hover{
  background-color: #9187d2;
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(145, 135, 210, 0.3);
}
.notification-item:hover .notif-text,
.notification-item:hover .notif-number {
  color: white;
  font-weight: 500;
}
.notification-dropdown{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 10px;
  gap: 15px;
  bottom: 20px;
  animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
  animation-name: none;
  animation-direction: alternate;
  animation-delay: 0.2s;
  animation-duration:0.4s;
  display:grid;
  grid-template-rows: none;
  grid-auto-rows: 50px; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #9187d2 #f0f0f0;
}

.notification-item{
  height: 55px;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.notifications:hover .notification-bell{
  animation-name: bellToSquare;
}
.notifications:hover .bell-icon,
.notifications:hover .notification-dot{
  animation-name: hide;
}

.notifications:hover .notification-dropdown{
  visibility: visible;
  animation-name: showList;
}

@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden; /*убирает горизонтальный скролл*/
    position: relative;
  }
  .nav-desktop {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1000;
  }
  .header-container {
    margin: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu {
    display: block;
    position: relative; /* для z-индекса */
    z-index: 1002; /* чтобы кнопка была поверх меню */
  }
  .burger-button {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1003;
    display: block;
  }

  .burger-button::before,
  .burger-button::after {
    content: ""; /*пустое содержимое*/
    position: absolute; /*отн burg-but*/
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  #burger-checkbox:checked ~ .nav-mobile ~ body {
    overflow: hidden;
  }

  .burger-button::before {
    top: 0;
  }

  .burger-button::after {
    bottom: 0;
  }

  .burger-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
  }
  .burger-button:hover span,
  .burger-button:hover::before,
  .burger-button:hover::after {
    background-color: #333;
  }
  #burger-checkbox:checked ~ .burger-button::before {
    transform: rotate(45deg) translateY(14px);
  }
  #burger-checkbox:checked ~ .burger-button::after {
    transform: rotate(-45deg) translateY(-14px);
  }
  #burger-checkbox:checked ~ .burger-button span {
    opacity: 0;
  }
  #burger-checkbox {
    display: none;
  }
  .nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47484a;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  #burger-checkbox:checked ~ .nav-mobile {
    display: flex;
    overflow-y: hidden;
  }

  .nav-list {
    flex-direction: column;
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 20px;
  }

  .main {
    margin-top: 135px;
    width: 100%;
  }
  .banner {
    display: none;
  }
  .hero .content > *,
  .hero .philosophy > * {
    margin: 0;
    padding: 0;
  }

  .content,
  .philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .philosophy dt {
    margin-top: 25px;
  }
  .hero .content blockquote {
    padding: 15px;
  }
  .sidebar {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-item {
    height: 250px;
    max-width: calc(50% - 10px);
    flex: 1 1 calc(50% - 10px);
  }

  .footer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    gap: 15px;
    justify-content: center;
    background-color: #181818;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    gap: 25px;
    max-width: 500px;
  }
  .footer-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .footer p,
  footer pre {
    margin: 0px;
    padding: 0px;
  }
  .scroll-to-top {
    display: none;
  }
  .notifications{
    left: 20px;
  }
  .gallery-content p{
    margin:0;
    padding: 15px 0px 15px 15px;
    font-size: 10px;
  }
  .gallery-content h3{
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  .nav-list {
    gap: 10px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .sidebar {
    width: 300px;
    margin: 0px;
    padding: 0px;
    position: static;
    float: none;
  }
  .nav-desktop .nav-list {
    gap: 3px !important;
  }
  .nav-desktop .nav-list a {
    padding: 8px 10px !important; /* Уменьшаем отступы */
  }
  .banner {
    display: none;
  }
  p,
  pre {
    margin: 15px;
    padding: 0px;
  }
  .content,
  .philosophy {
    gap: 15px;
  }
  .sidebar {
    text-align: center;
    padding: 10px;
  }
  .philosophy {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
  }
  .philosophy dt {
    margin-top: 25px;
  }
  .footer {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
    gap: 15px;
    position: relative;
    z-index: 1001;
  }
  .scroll-to-top {
    z-index: 999;
  }
  .philosophy dl {
    flex: 1; /* занимает оставшееся пространство */
    margin: 0;
  }
  .gallery-content p{
    margin:0;
    padding: 15px 0px 15px 15px;
    font-size: 14px;
  }
  .gallery-content h3{
    font-size: 18px;
  }
}
